[2018-01-06 07:22] MarcinV opened #1 "Error message"
Hi,

I am getting below error. Any idea about the reason?

pi@hassbian:~ $ python /home/homeassistant/.homeassistant/scripts/vw_carnet_rb1.py retrieveCarNetInfo
Traceback (most recent call last):
  File "/home/homeassistant/.homeassistant/scripts/vw_carnet_rb1.py", line 206, in <module>
    url = CarNetLogin(s,CARNET_USERNAME,CARNET_PASSWORD)
  File "/home/homeassistant/.homeassistant/scripts/vw_c

[2018-01-06 14:34] reneboer commented on #1
Hi @MarcinV
For some reason the login fails. Have you put in your user id and pwd in the top of the script?
You can add a line 101 to see what the message is.
print(r.text)

[2018-01-06 15:54] MarcinV commented on #1
:-(, that was the mistake of me, sorry for that. Now it is working well!

[2018-01-06 15:54] #1 closed, assigned to nobody

[2018-03-21 06:50] jdrescher2006 opened #2 "Use of Python library urllib"
I don't have the requests library available on my system. Is it possible to do the same with only urllib?

[2018-03-21 10:29] jdrescher2006 commented on #2
I started with converting to urllib.
First step is requesting landing page and get CSFR:
[code]

This works, i get for example: Ua5jtvrj

[2018-03-21 10:38] jdrescher2006 commented on #2
Next step is request login page:
[code]
Unfortunately this returns a html web page and not a json file as your code does. What could be the problem?

[2018-03-21 13:47] jdrescher2006 commented on #2
OK, I got the requests library running on my system. So I will close this.

[2018-03-21 13:47] #2 closed, assigned to nobody

[2018-03-21 13:48] jdrescher2006 commented on #2
OK, I got the requests library running on my system. So I will close this.

[2018-03-26 16:48] JimKnopf1503 opened #3 "Code ist great and working. Can someone translate it to C++?"
Hello!

Thank you for this great code! I am not able to write python code and want to use this in a c++ project.
Can someone translate it to C++?
I can't even get the # Request landing page and get CSFR:  part working in C++.

Thank your for any help.
Burkhard Venus

[2018-03-26 17:52] reneboer commented on #3
Sorry, I cannot. But anyone feel free to help.

[2018-10-24 13:29] birgersp commented on #3
Which OS? Windows?

[2019-07-09 17:34] Mirarkitty opened #5 "does not work with "we connect" update"
Seems like VW decided to update the login part of the services and this no longer works?

[2019-07-09 19:31] reneboer commented on #5
Just found that out my self as well. It looks like quite a change and I do not have time the next four weeks to look at this.

[2019-07-09 21:41] Mirarkitty commented on #5
I'm not a python person, I did an attempt but all I end up with is a 403 Forbidden page. :/
[code]

[2019-07-09 21:54] Mirarkitty commented on #5
Looks like the requests after logging in are very similar. No update in that part of the system.

[2019-07-11 17:43] birgersp commented on #5
I'm hoping someone can find out if and how to log in to the service. I'd like to contribute in any way I can, but I'm fumbling in the dark a little. What's the best way to determine what traffic goes between the client and VW servers? Do you have to use Wireshark?

[2019-07-11 20:16] Mirarkitty commented on #5
I use firefox, ctrl-shift+k brings up debug opportunities, network tab gives all the headers and talk that's going on.

[2019-07-14 14:26] jaybora commented on #5
Mirakitty are you actively working on fixing the login part? More if I should give it a go. I'm not a python man but have done a couple of screen scraping apps before in java and golang.
And I need it to work for my e-golf integration into my domoticz home automation setup.

[2019-07-14 16:46] birgersp commented on #5
All hands on deck! Anyone capable and willing should give it a go, imo ;)

[2019-07-15 20:46] jaybora commented on #5
I think I am halfway through the login procedure. This site has almost 10 pages to go through in order to just login.

[2019-07-16 13:14] FritzJo commented on #5
I'am trying to get it working as well, but no real progress on my side.
Its a shame that VW doesn't offer a public API...

[2019-07-16 14:30] jaybora commented on #5
#7 Is ready for you service :-) It is working for me now. I can start and stop the charging.

[2019-07-16 15:02] birgersp commented on #5
If we have to, I guess another option is to reach out to VW?

[2019-07-17 22:18] Mirarkitty commented on #5
No, sorry, been busy.

#7 didn't work for me.

"&#39;ve entered too many wrong email/password combinations. Please wait a moment before you try again."

I get that in this post:
[code]
status code is 200 and that's a new login form with that text. I can login fine in the browser.

[2019-07-18 16:23] oakedcorn commented on #5
Great job, thanks a lot! It works perfectly for me.

I was using [vw_carnet_app.py](https://github.com/wez3/volkswagen-carnet-client/blob/master/vw_carnet_app.py) before, which provided 1% battery SoC accuracy (web api rounds to nearest 10% multiple) and outside temperature data - very useful. Unfortunately this script also got broken with the new login. It would be great if anyone is able to fix

[2019-07-23 05:23] bausi2k commented on #5
Hi,

having an typecast issue? any ideas:
[code]

br.kg

[2019-07-24 06:59] JimKnopf1503 commented on #3
Hello!
I have written the C++ code for Linux, which was working til We-Connect came up.
I am now trying to get what has changed.

Burkhard

[2019-07-24 14:11] birgersp commented on #5
@Mirarkitty #7 works like a charm for me. Are you absolutely sure there's no error on your end?

[2019-07-24 20:27] Mirarkitty commented on #5
I can't be 100% sure, but it doesn't let me log in anyway. I only changed uid and password. I'm not sure why the script gives the error but not the website.

[2019-07-24 20:35] Mirarkitty commented on #5
And yes, running with python 3 gives that type error.

[2019-07-24 20:37] jaybora commented on #5
@bausi2k It is related to you python version. You can use python 3.7 or wait until I fix next week.

[2019-07-24 20:39] Mirarkitty commented on #5
Or do this change:
	#login_url = json.loads(r.content).get("loginURL").get("path")
	login_url = r.json().get("loginURL").get("path")

[2019-07-25 07:15] bausi2k commented on #5
worked! thx

[2019-07-26 05:42] Mirarkitty commented on #5
Is it just me or did the login change again? I get a two step (email, password) now.

[2019-07-26 14:03] youpixel commented on #5
Today I did some changes to the code to match it with the new login screen. Sorry, it is a bit messy... But you get an idea how it could work.

Pull: https://github.com/reneboer/python-carnet-client/pull/8/commits/65a5381e9081cc6c78a4cf4ab843c5f25aa4c6fb

Raw file: https://github.com/reneboer/python-carnet-client/blob/65a5381e9081cc6c78a4cf4ab843c5f25aa4c6fb/vw_carnet_rb1.py

Cheers

[2019-07-28 11:39] jdrescher2006 commented on #5
Thank you very much, it works for me.

[2019-07-31 10:33] ottopaulsen commented on #5
Thank you for the great work done here! The latest version (PR#8) works fine for me.

I am trying to make a javascript version of this procedure (node.js), but I ran into a problem.
When posting the login_action_url with email and other data in the body, I get 403 Forbidden, and no further explanation. First I got a message that cookies and javascript must be enabled, but after enabling cookies, I

[2019-07-31 20:31] iemenuyttenhove commented on #5
I made a working C# version for an Azure Function, if anyone is interested I can clean it up and share it 😉

[2019-07-31 21:55] JimKnopf1503 commented on #5
Latest version dont seem to work for me. Login looks good, but i got no data from the requests.
============= RESTART: D:\Download\CarNetPython\CarNetPython.py =============
/-/msgc/get-new-messages
b'{"messageList":[],"errorCode":"0"}'
/-/vsr/request-vsr
b''
/-/vsr/get-vsr
b''
/-/cf/get-location
b''
/-/vehicle-info/get-vehicle-details
b'{"vehicleDetails":{"lastConnectionTimeStamp":["--","--"],"di

[2019-08-01 15:20] ottopaulsen commented on #5
Yes, @iemenuyttenhove, I would like to take a look, as I am struggling with my Javascript/node.js version. I have noticed that the CarNet app uses X-XSRF-TOKEN, but it seems to not be used in the Python version, and I cannot figure out where it is coming from. I am getting Forbidden (see above).

Otto

[2019-08-05 03:46] 0rsa commented on #5
I have this error with youpixel modification:
Traceback (most recent call last):
  File "/home/flo/carnet/vw_carnet_app.py", line 271, in <module>
    url = CarNetLogin(s,CARNET_USERNAME,CARNET_PASSWORD)
  File "/home/flo/carnet/vw_carnet_app.py", line 170, in CarNetLogin
    portlet_code = extract_code(r.url)
  File "/home/flo/carnet/vw_carnet_app.py", line 80, in extract_code
    return authcode

[2019-08-05 06:06] birgersp commented on #5
@ottopaulsen

I'm having the same issue as you, 403 Forbidden on the POST request (but in a Kotlin app).
I'm going to clean up the python script, to try to pinpoint exactly what it does different compared to my app.
Please let us know if you find out anything.

[2019-08-06 10:16] reneboer commented on #5
Hi,

Thanks for all your help on this. I will give it a test run and update the master.

Cheers Rene

[2019-08-08 18:08] birgersp commented on #5
@ottopaulsen in an attempt to figure out how to succesfully port the code and get the changes working, I've created my own repo to clean up this code as much as possible. If you're interested: https://github.com/birgersp/carnet-client

[2019-08-09 13:49] Mirarkitty commented on #5
I can't login using firefox right now, so I'm not sure what's up.

[2019-08-09 16:31] birgersp commented on #5
I can login without problems. Using Chrome, and using the norwegian VW website (if it matters).
Script is also working fine.

[2019-08-10 18:52] youpixel commented on #5
Great! Looks solid and works like a charm

[2019-08-15 07:09] FritzJo commented on #5
works perfectly for my usecase! Thanks. Will you create a pull request?

[2019-08-15 08:40] reneboer commented on #5
Hi,

I am working on a new version taking a lot of the changes done by both @ottopaulsen and @birgersp and updating the commands supported as there are some changes.

I will merge all that next week I think.

Cheers.

[2019-08-15 10:28] birgersp commented on #5
I would, if I thought it had a chance of being merged ;-)
Also, I'm planning to add my Kotlin code to the same repository, once I get the time for it.

@reneboer Please note you have 3 PRs. And if you're looking for contributions and collaboration, I suggest you consider merging (or rejecting) them. If you change the codebase now without merging, you're just messing up our PRs.

[2019-08-18 17:48] Mirarkitty commented on #5
Seems like my ban is over and I can use this (#8) again.

[2019-08-19 15:43] reneboer commented on #5
All PRs are now merged. The last one (#8) gave some conflicts so I have too see if it all is working as it should now. New version is coming later.

[2019-08-20 20:11] reneboer commented on #5
Hi,
I created a development branch with a new script called we_connect_client.py.
It does not seem reliable though, but the portal gives me problems right now as well. On the portal I get this after the login instead of the overview page

Not sure if it is because of too many logins in a short period or what else. I get the same with the other carnet_client.py script from @birgersp btw.

Please gi

[2019-08-21 05:44] birgersp commented on #5
Just gave the script a go, and I didn't have any issues with it

[2019-08-21 20:20] reneboer commented on #5
Must have been the portal as the script is working fine for me now too. I made a few more updates and I think it is ready to go out, and close this issue.

[2019-08-22 05:34] birgersp opened #9 "Development should take place in main branch"
Hi,

I see you've created another branch for development, now with two scripts doing virtually the same thing.
Why is this? If you want to keep a "stable" version of the script, create a tag on a commit where the script was working as intended.

I propose:
- Merge "development" into master,
- remove development,
- remove "vw_carnet_rb1.py"
- commit
- tag with "v1" or something similar

[2019-08-22 05:42] birgersp opened #10 "Catching exceptions inside functions?"
Hi,

I noticed you're catching exceptions inside functions. Example:
[code]

Why are you doing this? Exceptions are meant to show the developers exactly where a problem occurs. When you are doing this, you're reducing the error to a single line of text which makes the developer have to dig through the source code to find the source of error.

Also now the script has to check the result of each of

[2019-08-22 05:44] birgersp commented on #5
I agree, this issue is long gone now ;-)

[2019-08-22 05:48] birgersp opened #11 "Commit messages do not describe changes"
The commit messages do not describe the changes to the script.

I highly recommend reading this guide on commit messages:
https://chris.beams.io/posts/git-commit/

![image](https://user-images.githubusercontent.com/5260237/63488940-fbd77380-c4b0-11e9-9f84-bd4620ceb98e.png)

[2019-08-22 05:52] birgersp opened #12 "Remove "version" and "date" from script"
Version and date written explicitly in the script is unnecessary. This is why you use git.

Comments about who did what in the script are also unnecessary, but less annoying since you don't have to keep updating the text as the code evolves.

I propose that the "version" and "date" lines in the script are removed.

[2019-08-22 05:56] birgersp opened #13 "Change "climat" to "climate""
Functions regarding climate have a typo

[2019-08-22 06:03] birgersp commented on #10
Also, when using a proper IDE or code editor, exceptions are properly visualized:

![image](https://user-images.githubusercontent.com/5260237/63489790-5540a200-c4b3-11e9-9f80-f50b0cd14b37.png)

[2019-08-22 08:24] reneboer commented on #9
It is a development branch because it is not final. I work on more projects where things are handled like this. You test a development version before you update the master.

[2019-08-22 08:24] #9 closed, assigned to nobody

[2019-08-22 08:29] reneboer commented on #10
I'm no python expert and this way I try to avoid the code bombs out for often not to clear reasons. Now I can exactly see where an error occurred. For me it is simpler, if you want to do the differently you are free to publish your own version.

[2019-08-22 08:29] #10 closed, assigned to nobody

[2019-08-22 08:29] reneboer commented on #11
will do

[2019-08-22 08:29] #11 closed, assigned to nobody

[2019-08-22 08:32] reneboer commented on #12
I disagree. I always wonder what version I have if it is not in the script. I do not run it in git I have to download it.

[2019-08-22 08:32] #12 closed, assigned to nobody

[2019-08-22 08:33] reneboer commented on #13
The reason is that the WE Connect API calls it that.

[2019-08-22 08:33] #13 closed, assigned to nobody

[2019-08-22 09:34] birgersp commented on #9
Okay. But why do you keep two scripts in the repo? Shouldn't there be just one?

[2019-08-22 11:41] birgersp commented on #13
Can you please show where?

[2019-08-23 08:28] reneboer commented on #13
Now I look back it is probably because how things where called in one of the app based versions of the carnet version. See wes repo I link to. As people are now using as command I can add it as synonym.

[2019-08-23 09:20] reneboer commented on #3
@JimKnopf1503 if you have a repo I can link to for you C++ version, let me know and I can include it in the readme. For now I'll close this issue as it is not related to the python version.

[2019-08-23 09:20] #3 closed, assigned to nobody

[2019-08-23 09:29] JimKnopf1503 commented on #3
Thanks Rene!
But the C++ version dont work anymore couse of the WeConnect change.
The App Version seems much more complex. Scrambling wit different keys (code challange).
I stopped working on it, it is too high for me.
Burkhard

[2019-08-23 10:53] bgewehr opened #16 "Actions with SPIN for combustion engines not authorized"
I am using the code with a 2018 VW Arteon 2.0 TDI, see https://github.com/bgewehr/volkswagen-carnet-client

I made some special additional get and post calls available and an mqtt mode for continuously polling data.

I fail with the s-pin secured transactions like remote heating on while off works (not s-pin protected).

Anybody here to help me with that?

[2019-08-23 12:06] birgersp commented on #3
Jim,

I'm working on a kotlin port myself (also broken by the change), which I think will be working again with just a couple more hours of coding. The code here is very much cleaned up in terms of readability now. If there are any parts of the code where the steps are unclear, you can probably just create an issue about it and someone will improve it even more :)

[2019-08-23 12:09] JimKnopf1503 commented on #3
Thanks for that hint, but I am using the app protocol, not the one of the web portal.
That seems much more different.

[2019-08-23 12:09] birgersp commented on #16
Is this really an issue about this script? If not, you're probably better off submitting a question to stackoverflow.

[2019-08-23 12:15] bgewehr commented on #16
Well - it is actually not, I admit. I tried to connect to other people on the same journey this way. Not every carnet / VW we car is electric...

[2019-08-23 12:17] reneboer commented on #16
Hi, I do not have anything on my car requiring the s-pin so I cannot test that. Only option I see is to hit F12 and look at the network trace for the POST commands that include a pin. If you send me a PM with one I can have a try.

[2019-08-23 13:10] birgersp commented on #16
I didn't mean to sound dismissive, I also want this to work for all kinds of VW (not just electric cars). I'm just saying stackoverflow will have a lot of people trying to solve the problem :-)

[2019-08-23 17:12] Mirarkitty commented on #5
The portal is up and down a lot. I keep logs...
This script is working a lot better than their backend XD

[2019-08-26 08:11] FritzJo commented on #16
First of all we need to clarify, if this is a issue for anyone with s-pin enabled. What kind of error message do you get?
I don't use it an therefore can't test it, but I don't think this is only a problem for combustion engine cars.

[2019-08-26 09:24] FritzJo opened #17 "Adding new maintainers to the project"
Hello Rene,
would it be possible for me to get more privileges for this project? I'm interested in further improving the functionality and quality of this amazing library.
Adding more collaborators would allow for a faster development cycle and less work for you.

[2019-08-26 10:28] birgersp commented on #17
Hello again FritzJo,

I was thinking some more about it. And I don't think I want get priviliges
in reneboer's repo, after all.
There's just too much that him and me disagree on, so if I pull the changes
that I want we would probably just end up arguing over it (best case).

You can still ask him for privileges for yourself, but personally I'd
prefer a fork (yours or mine) where we maintain the co

[2019-08-27 16:34] reneboer commented on #17
Hi @FritzJo, just added you. For me this is a POC for my Alexa car net skill and my home automation version i've written in LUA (LUA no native session or cookie support, so not doable to figure out the flow using that!)
So if you have things to add feel free to.
Cheers Rene

[2019-08-27 16:34] #17 closed, assigned to nobody

[2019-08-27 16:37] reneboer commented on #5
Hi, I think the script is stable for the WE Connect portal so I am closing this issue. All of you thanks for your help.

[2019-08-27 16:37] #5 closed, assigned to nobody

[2019-08-31 11:57] Mirarkitty commented on #5
Yes, seems stable now.

[2019-09-02 12:33] m0rt3nlund opened #18 "Issue: Unable to get past error: Failed to post portlet page."
Hi!

Does anyone know why my application stops at "Failed to post portlet page"?

I enabled debugging and this is the reply:

[code]

[2019-09-02 20:28] reneboer commented on #18
Hi,
I assume you can logon to the portal using a browser just fine? No portal down, in maintenance or other messages? On that step, step 7, you should get a 302 redirect as return with a redirect to /portal/delegate/dashboard/<VIN>.

[2019-09-03 11:24] m0rt3nlund commented on #18
Yes, login using the browser works!
And today script worked as well, i think until I login using the browser again, or maybe the app, then it stopped working with the same error again..
Cookies or something in python not being cleared?

[2019-09-03 12:05] #18 closed, assigned to nobody

[2019-09-03 12:06] m0rt3nlund commented on #18
I used wrong username and password...

[2019-09-04 14:44] reneboer commented on #16
Hi @bgewehr, can you give some more details on the s-pin use? If not I would like to close this issue.

[2019-09-08 15:23] JimKnopf1503 commented on #5
Hi!

I have still problems. Login is working. Get all cars ist working. Car info is working. But:
get location = errorcode 2
get vehicle details = errorcode 0, but no data
{"vehicleDetails":{"lastConnectionTimeStamp":["--","--"],"distanceCovered":"--","range":"","serviceInspectionData":"--","oilInspectionData":"--","showOil":true,"showService":true,"flightMode":false},"errorCode":"0"}

get emanage

[2019-09-11 10:42] Mirarkitty commented on #5
That's odd. Location works for me. Make a new ticket though?

[2019-09-11 11:07] reneboer commented on #5
Hi, Yes please make a new issue. So we can track under that.
I noticed in the latest responses from the site that the VIN of the car is now part of the URL to use and it as I have only one car I only see that. I am assuming if you just replace that with the VIN of the second car it will work. This will require some changes though. I can make an extra parameter for example.

[2019-09-12 10:58] Mirarkitty commented on #5
Did they break it again?

[2019-09-12 11:07] birgersp commented on #5
No. What makes you think that they did?

[2019-09-12 17:45] Mirarkitty commented on #5
My scripts stopped working. But I'll search locally then.

[2019-09-12 21:51] reneboer commented on #5
I am not seeing any problems. Have you logged on to the portal? Subscription expired? Just trowing some things out there.

[2019-09-18 16:39] addellll commented on #16
@reneboer
I have none electric VW car, and for me it requires s-pin to lock/unlock aswell to remote start heater/cooler. That would be a great if it would work. I will be happy to help if needed.

[2019-09-19 08:39] reneboer commented on #16
Hi @addellll ,

That would be great. Could you capture the command(s) that need a pin? Using Firefox, go to the logon page, hit F12 and the developer tools window will open. Select network, check persist Logs. Now logon and perform one of the commands that needs a pin. In the log you should see a POST request where in the File description you should recognize, the command. Click on that and then I

[2019-09-19 10:33] Mirarkitty commented on #5
I had a resolv issue. But now they changed something again. This fixes it; insert .* between novalidate and action:

	login_action_url_re = re.compile('<formclass="content"id="emailPasswordForm"name="emailPasswordForm"method="POST"novalidate.*action="([^"]*)">')

I don't know if this is a good fix. They added =true to novalidate.

[2019-09-19 12:40] addellll commented on #16
Hi @reneboer

Regarding to this https://github.com/wez3/volkswagen-carnet-client/issues/7
He get an error: {"errorCode":"1","errorType":"RAH.INSUFFICIENT_SEC_LEVEL"}
What meaning probebly it need "Check-scurity-level" POST before s-pin can be entered?

"check-security-level" POST:
https://imgur.com/a/0UMgUV9

"remote-lock" POST:
https://imgur.com/a/gDIGUMH

[2019-09-19 18:32] ottopaulsen commented on #5
Thank you, @Mirarkitty, for the solution. I had just discovered that it was not working, and saw your solution before I got the time to troubleshoot myself.

I have now finished my Javascript version of the script. I am using it in a module for MagicMirror. You can see my solution on [github.com/ottopaulsen/MMM-WeConnect](https://github.com/ottopaulsen/MMM-WeConnect). It is really cool, showing a

[2019-09-22 09:59] JimKnopf1503 opened #19 "Select Car"
Hello Folks!

Thanks for your work so far. I am now facing the "problem" that my account has two active cars and the second one is the e-Golf which is my target.
I can't access the eManager using this script. Reason: the first car (Touran) is selectes as the acitve one in the session "garage". The request of "eManager details" does not contain the vin in it to select the eGolf.
Is there a way, to

[2019-09-22 12:22] IPSCoyote opened #20 "Login not working anymore?"
Hi,

I use the "vw_carnet_web.py retrieveCarNetInfo" Skript directly and process the data afterwards.
Since some days the logon seems not to work anymore. At least no data is returned anymore :(

(Why can't VW simply offer a formal data retrieval point ? :( )

[2019-09-22 13:03] bgewehr commented on #16
Here is what I already tried without success:

[code]

Result was the same:
{"errorCode":"1","errorType":"RAH.INSUFFICIENT_SEC_LEVEL"}

[2019-09-24 15:30] reneboer commented on #20
Hi,

Please change to the script found in this repository. That works with the latest VW portal.

And totally agree, why not give us a documented API!?!

[2019-09-24 15:30] #20 closed, assigned to nobody

[2019-09-24 15:31] reneboer commented on #19
Hi @JimKnopf1503, I have this on my to-do list. Give me a week or two and I'll ask you to test.

[2019-09-24 20:35] reneboer commented on #16
Hi, @addellll,
Can you try the new script in the development branch? To support additional command line options like the spin, the script arguments have changed:

[code]

if you could try
[code]
and let me know what you get. I do not have the spin commands for my car so all I get is errorCode 2 for both.

[2019-09-24 20:39] reneboer commented on #19
Hi @JimKnopf1503

Can you try the new script in the development branch? To support additional command line options like the vin, the script arguments have changed:

[code]

if you could try this to get the VIN of the second car:
[code]
You should be able to use that VIN value for future requests:
[code]
and let me know what you get. I do not have more than one car so I had to assume a few things.

[2019-09-26 06:03] JimKnopf1503 commented on #19
Hi René!

Thank you for your work! I will try it these weekend.
Burkhard

[2019-09-29 15:09] bgewehr commented on #16
Great to see you working on this.
I get
[code]

and nothing happens.

[2019-09-29 15:16] bgewehr commented on #16
I added another set of features - which do not yet work:

[code]

These calls end in
[code]

while stopping the rah works without security:

[code]

[2019-09-29 20:14] JimKnopf1503 commented on #19
Hi René!
I tested the script and it worked fine!
Thank you verry much.
In the dark time of the year I will look, if I can make a C++ version of it.

Thanks a lot!
Burkhard

[2019-09-30 10:22] reneboer commented on #19
Hi Jim,

Thanks for testing this. I will update the master branch later this week.

Cheers Rene

[2019-09-30 10:43] reneboer commented on #16
Hi @bgewehr,

Maybe there is some spin related get or post during logon. I'll have a scan in my logs. Can you do the same?

Cheers Rene

[2019-10-01 19:22] odelma commented on #16
Thank you everyone for looking into this. I run into the same problem while trying to add the fuel heater commands and found this discussion while googling for solutions.

I tried to read through the comments here, but I did not see that you would have used the proper url for "check-security-level", it is https://portal.volkswagen-we.com/portal/group/fi/edit-profile/-/profile/check-security-level

[2019-10-02 10:44] reneboer commented on #16
Hi @odelma ,
Yes the script accounts for that, although I see a bug if the GUEST_LANGUAGE_ID code has a different code for language vs country. E.g. for de_DE it works, for sv_SE not, but I know you get a 404 error and not a json response for that failure. Right now I am not sure how to get these spin commands working.

[2019-10-02 20:10] addellll commented on #16
@reneboer Thank you, but it gets {"errorCode":"1","errorType":"CORE.INSUFFICIENT_SEC_LEVEL"} on check-security-level as other people have mentioned. Anyway, i does not seams possible to send PM on github. But if it would help, you could borrow my login details to a car with s-pin?

[2019-10-02 20:50] odelma commented on #16
Ok, got it.
I wonder if the check mark ("Are you sure you want to continue") plays any role in this? Or probably it is just GUI thing that is to control that it is acknowledged what will happen after proceeding.
<img width="744" alt="Screenshot 2019-10-02 at 23 45 10" src="https://user-images.githubusercontent.com/10372952/66080707-51527600-e56f-11e9-9c5a-6cd44a40a2bd.png">
Doesn't seem to do anyt

[2019-10-03 08:50] reneboer commented on #16
Hi @odelma ,
I am not getting the screen you showing (especially not in Finish :-) ). So who knows. What does it say? Just about data analytics? That seems what they use adobedtm for.

[2019-10-03 09:13] reneboer commented on #16
Hi @addellll
You should get this message in your email you can contact me via one_dot_time_at_reneboer_dot_demon_dot_nl (replace _at_ and _dot_ as expected)

Cheers Rene

[2019-10-03 09:58] odelma commented on #16
@reneboer I get the popup with locking / unlocking and setting the fuel heater (at least), text changes accordingly, but the check mark is just to verify you really want to carry out the action. E..g in this case it says:

**Locking related instructions:**
With this function you lock your vehicle. Make sure there are no people or animals in the vehicle. Also make sure that (depending on accessorie

[2019-10-03 10:06] odelma commented on #16
So, when I click the button for example to lock the doors, it opens this pop-up and when I check the box and click continue it triggers the "check security level" part:

Request URL: https://www.portal.volkswagen-we.com/portal/group/fi/edit-profile/-/profile/check-security-level
Request Method: POST
Status Code: 200 OK
Remote Address: 194.45.153.113:443
Referrer Policy: no-referrer-when-downgrade

[2019-10-03 10:22] addellll commented on #16
@odelma i can confirm in Swedish it is exaclty the same layout with the popup and all.
The king of python @reneboer should recived an email from me so he will be able to test out with a spin account.

[2019-10-03 11:59] reneboer commented on #16
Hi @addellll @odelma thanks for the input. I'll give it a try tonight.

[2019-10-04 08:20] bgewehr commented on #16
@reneboer still the same output than before with latest dev branch (startRemoteHeating example):
[code]

[2019-10-04 11:12] reneboer commented on #16
Hi, I think i got the SPIN commands working. It appears you first need to do the load-car-details command for it to work.

Please give it a try. Many thanks to @addellll.

[2019-10-04 14:57] bgewehr commented on #16
Result for remoteUnlock (seems to be not available for my country):
[code]
result for startRemoteHeating:
[code]

This one seems to work.
![image](https://user-images.githubusercontent.com/4056277/66217644-f84a2580-e6c7-11e9-8f1a-96cf0eb52603.png)

BUT: I selected Heating, not Ventilation. Have to test more...

[2019-10-04 15:06] bgewehr commented on #16
That may have been a web page partial refresh issue:
![image](https://user-images.githubusercontent.com/4056277/66218332-43186d00-e6c9-11e9-8f6c-923111b504a3.png)
IT WORKS ACTUALLY! You wizard, @reneboer !

[2019-10-04 15:48] reneboer commented on #16
Yeah! it was an educated guess that did the trick in the end. It had to be something before the actual two calls.

I also get errorcode 2 as my car does not support the Lock/Unlock option. Or any of the SPIN options actually.

[2019-10-04 17:10] bgewehr commented on #16
Maybe we can see what a car „can“ do before even trying:

[code]

I see mobile key activated: null for example. We should check with somebody who has that feature.

[2019-10-04 18:16] addellll commented on #16
@reneboer Thank you, the version in development branch works perfect for all commands. You are really great of what you do!
@bgewehr I guess you are not able to lock/unlock in portal.volkswagen-we.com in normal browser?

And now the end goal, be able to combine this with automations in Home Assistant + Google Home. "Hey Google, turn on the heater" EPIC!!
@reneboer just send me an email if you want

[2019-10-04 18:35] bgewehr commented on #16
I use Siri for a longer time now to heat my car on voice command. Since SPIN secured commands did not work, I used something like a IOT robot to press the button of the original remote control...

https://twitter.com/bgewehr/status/1015284468322652161?s=21

[2019-10-04 19:25] reneboer commented on #16
Hi, glad to hear it is working, found it a bit annoying it wouldn't. I have a flavor that works with Alexa (https://github.com/reneboer/alexa-CarNet) for the previous script. It will be possible to add the SPIN based commands. I am sure something similar can be done for Google.

Also the script can be hardened it bit as it depends on the packages you either got or bought with the car on what is su

[2019-10-09 22:00] odelma commented on #16
Excellent work, thanks a lot! I was wondering could you also add the leave time functionality? It seems to work in similar way that remote heating and other commands that use SPIN. The url for it is https://portal.volkswagen-we.com/portal/delegate/dashboard/VIN/-/rah/save-timers and payload something like:
`{"timers":[{"timerId":1,"active":false,"weekDay":4,"time":{"hours":7,"minutes":50},"nextAct

[2019-10-12 17:29] bgewehr commented on #16
Sometimes when you think the script is not working, you recognize that the whole service is failing for many users too. See here for a community page for CarNet errors:

https://xn--allestrungen-9ib.de/stoerung/car-net/

[2019-10-20 08:30] mikaelho opened #21 "External temperature"
Winter is coming! A big thank you to everyone who helped fix this script - nothing like telling Siri to heat up the car on those freezing mornings.

But how freezing are they? The earlier API included external temperature, but I am not seeing an example of that in the latest version. Any pointers how I could get it?

[2019-10-26 15:10] Mirarkitty commented on #5
I suspect something is changed again, I fail to login but I haven't researched more. I get to 'getloginstatus' but not more.

[2019-10-26 16:23] FritzJo commented on #5
I can't replicate the problem right now. Everything seems normal to me.

[2019-10-26 19:32] birgersp commented on #5
Are you able to log in to your account on the official app/website? I'm not, which leads me to believe that there is an issue with the service.

[2019-10-27 11:36] ottopaulsen commented on #5
It is working fine now, but they have been down a lot lately.

[2019-10-30 15:58] Mirarkitty commented on #5
Yes, it seems like it didn't work for the script but it worked on the web when I were testing, so I guess REALLY glitchy. It worked for a few hours today, so I guess the login procedures are still ok.

[2019-10-30 16:18] reneboer commented on #5
I posted a support request with VW and they admit they are having issues and are working as hard as they can.. usual bla bla etc...

[2019-10-30 17:36] birgersp commented on #5
Thanks for doing that @reneboer. I meant to do it myself, glad to hear it's not just an issue with my account

[2019-11-01 00:33] odelma commented on #21
At least the getRemoteHeating returns the temperature:
`{
"errorCode":"0",
"timerCount":3,
"remoteAuxiliaryHeating":{
"status":{
"active":true,
"operationMode":"HEATING",
"outdoorTemp":"2,5 °C",
"remainingTime":22
}`

I would also like to get fuel, remaining range, mileage, location etc. but I cannot see those anywhere. It would be nice to have this kind of status report which would contain all re

[2019-11-01 10:18] mikaelho commented on #21
Thanks, that sounds like exactly the thing - but I do not see getRemoteHeating anywhere in the current code?

The range etc. data is available with the `/-/emanager/get-emanager` url, it is just not conveniently exposed by the current code. Will try to get around to submitting a PR.

[2019-11-03 22:45] odelma commented on #21
Sorry, forgot to mention that getRemoteHeating is on the development branch only at the moment: https://github.com/reneboer/python-carnet-client/blob/development/we_connect_client.py#L519

[2019-11-05 14:44] reneboer commented on #19
This now works. Closing issue.

[2019-11-05 14:44] #19 closed, assigned to reneboer

[2019-11-05 16:33] bgewehr opened #23 "Add mqtt command for better home automation integration"
In my fork https://github.com/bgewehr/volkswagen-carnet-client I have implemented a new mqtt command to poll carnet data in a cronjob and push it to mosquitto. Are you interested to receive this as a pull request, @reneboer ?

[2019-11-11 18:31] Sneak-L8 commented on #5
A way to login via App method is found under JavaScript for ioBroker: https://github.com/TA2k/ioBroker.vw-weconnect/
Just for information if you like to switch from Web login. There are plenty of additional information.

[2019-11-13 08:07] oakedcorn opened #24 "A way to login via App method is found under JavaScript for ioBroker: https://github.com/TA2k/ioBroker.vw-weconnect/"
A way to login via App method is found under JavaScript for ioBroker: https://github.com/TA2k/ioBroker.vw-weconnect/
Just for information if you like to switch from Web login. There are plenty of additional information.

_Originally posted by @Sneak-L8 in https://github.com/reneboer/python-carnet-client/issues/5#issuecomment-552559589_

[2019-11-13 08:09] oakedcorn commented on #24
It would be super-great if someone could translate this to a python module.

[2019-11-13 09:52] reneboer commented on #24
Hi,
Soon I will no longer have a VW to develop and test all this against. But anyone feel free to take the code and run with it as I have done with the foundations created by others.

[2019-11-13 09:52] #24 closed, assigned to nobody

[2019-11-13 09:54] reneboer commented on #23
Hi @bgewehr ,
As I am no longer in a position to test this all and have no time either at the moment, feel free to take this to the next level.
Cheers Rene

[2019-11-13 09:54] #23 closed, assigned to nobody

[2019-11-13 09:58] reneboer commented on #16
No more time or possibilities to take the code further.

[2019-11-13 09:58] #16 closed, assigned to nobody

[2019-11-15 06:14] mikaelho commented on #21
@odelma, that link seems to not work any more. Any pointers for finding the code now? Thanks.

[2019-11-15 06:34] odelma commented on #21
I guess it is merged to the master now?
https://github.com/reneboer/python-carnet-client/blob/master/we_connect_client.py#L538
https://github.com/reneboer/python-carnet-client/blob/master/we_connect_client.py#L560
https://github.com/reneboer/python-carnet-client/blob/master/we_connect_client.py#L646
edit: maybe you've noticed but this repo is not maintained anymore, so no future updates expected h

[2019-11-15 10:33] mikaelho commented on #21
Much obliged, again.

I am doing something wrong, since all I get with getRemoteAccessHeating is `/-/rah/get-status
{"errorCode":"2","timerCount":3}`.

I am unsure about the whole ”remote access” thing - does it require that I have something specific enabled that was not previously required?

[2019-11-15 22:53] odelma commented on #21
Hmm, I think you need to verify that eveyrhing works first in the VW WeConnect web portal https://www.portal.volkswagen-we.com/. Then just use the script as intended, .e.g.
`we_connect_client.py -u 'username' -p 'password' -s 'spin' -c getRemoteHeating`

[2019-12-02 21:17] Sh0n opened #25 "SSLError raised recently"
Hi,

Recently, i get new error when i try to use this script (it works last week !) :

[code]

Any idea ?

[2019-12-03 05:11] odelma commented on #25
Same here 🙋‍♂️

[2019-12-03 13:43] reneboer commented on #25
I posted an update that skips the certificate check. For me it works again.

[2019-12-03 13:43] #25 closed, assigned to nobody

[2019-12-03 14:14] odelma commented on #25
Thanks, looks like it is working again :smile: Do you know if there is any way to disable these warnings:
`/home/pi/.local/lib/python3.5/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarn

[2019-12-03 14:23] reneboer commented on #25
The real problem is a incomplete certificate chain at the VW site side, so other than your trick I would not know.

[2019-12-03 18:08] bgewehr opened #26 "I'm getting "Failed to login Failed to post portlet page" with latest version"
Hi, after a longer time where everything went well, I tried this new version and get the above error on an spin transaction. How can I help tracing?

[2019-12-03 18:18] bgewehr commented on #26
I tried again and again and received a different result sometimes:

[code]

[2019-12-03 20:48] Sh0n commented on #25
Thanks a lot ! it works perfectly !

[2019-12-04 11:26] reneboer commented on #26
Sorry, I do not have the possibility to test. Is this all working via the normal portal?

I know VW made some change causing a SSL certificate issue that is why the new version is posted that skips the SSL certificate validation. No idea if this is related or not.

[2019-12-07 13:06] bgewehr commented on #26
Yes, from the official portal all is working fine.

Will check the code for more certificate-based issues...

[2019-12-07 14:18] bgewehr commented on #26
I now disabled cert verification on all requests in the script. Works again.

[2019-12-07 14:18] #26 closed, assigned to nobody

[2019-12-07 14:27] bgewehr opened #27 "Sending startRemoteVentilation does not switch the mode from heating to ventilation"
When the current mode is heating, it will not switch to ventilation when startRemoteVentilation is sent. Still investigating...

[2019-12-07 14:35] bgewehr commented on #27
In network browser protocol there is no additional call visible for mode switching.

[2019-12-07 15:35] reneboer commented on #26
Well done. I merged your updates in. Thanks.

[2019-12-09 15:18] addellll commented on #27
@bgewehr
I think the car decide this depending on outside temperature. For example if command is sent under 10 celsius then start heater, else start ventilation.
In the iOS app there is only 1 command "Start heater" and as i remember that command did start the ventilation for me.

[2019-12-10 20:46] addellll opened #29 "InsecureRequestWarning"
`InsecureRequestWarning,
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings`

I know this git is not supported more, but for me i get alot of Ins

[2019-12-14 11:15] reneboer commented on #29
Hi @addellll I have added the code in the latest version. Only in debug mode the warning will still be displayed.

[2019-12-14 11:15] #29 closed, assigned to nobody

[2019-12-17 13:06] bgewehr commented on #27
But in the web UI you can actually switch between heat and ventilate. That mode persists until it gets changed by the user again. That's why I think it must be something that you can actually select.

[2019-12-27 11:38] birgersp opened #30 "Login fails at step 6: "code" and "state" cannot be extraced from response"
Hi,

It seems VW changed something regarding login step 5/6.

In step 6, the application fails to extract "state" and "code" from the response url.

[code]

In my most recent attempt, the response URL looked like this:

[code]

[2019-12-29 10:30] bgewehr commented on #30
I had to repeat my grants on manual web login, since then the script worked again. Give it a try!

[2019-12-30 22:22] birgersp commented on #30
Ah, yes you're right. I should have checked this, but I was lead to believe it was actually a API change this time. Thanks @bgewehr !

[2019-12-30 22:22] #30 closed, assigned to nobody

[2020-01-20 12:59] JimKnopf1503 opened #31 "Help to get it work in c++"
Hi Everybody!
Sorry, that I post here, there is nothing wrong with the script.
I am converting it to work in C++ with libcurl, but i stuck in Step 5 of login procedure.
I allways get a bad request response.
Below detailed infos.
Does anyone see what went wrong?

Thanks,
Burkhard

URL:
https://identity.vwgroup.io//signin-service/v1/b7a5bb47-f875-47cf-ab83-2ba3bf6bb738@apps_vw-dilab_com/login/identi

[2020-01-20 14:25] reneboer commented on #31
Hi Jim,

I know I could not get it working unless the SSL library supports SNI. Not sure if that is your problem, but would be worth checking.

[2020-01-20 17:28] JimKnopf1503 commented on #31
Hi Rene!
Thanks for the hint.
I will use wireshark so see whats the difference.
Burkhard

[2020-01-29 06:28] JimKnopf1503 commented on #31
Hi!

Edit: I found my bad mistake! I was still using the url from step4, shame on me.
Burkhard

[2020-01-31 08:53] JimKnopf1503 commented on #31
Hi!
It is all working now.
Thanks! Closed.
Burkhard

[2020-01-31 08:53] #31 closed, assigned to nobody

[2020-01-31 09:14] JimKnopf1503 opened #32 "Continue when not logged out"
Hi!
While writing my C++ code, I connected to VW without logging out, because the code was not ready.
If I had proceed to the end of step7, login has completed and stay this way, even over night.
When starting my code again it failed in step 1, there is no csrf .
We are redirected direcly to the end of step 6 and can continue there.
May be this can improve the script, for the ones hwo thought they

[2020-05-07 09:01] chrm-software opened #35 "Featur Request: Getting battery State Of Charge (SoC) for eGolf and other EVs"
Hi, on the WeConnect portal there are two information about the battery of the EV: estimated range mileage and the state of charge (SoC, usually in %).

While the range is a number and already available in your carnet client, the SoC only appears as a picture, see screenshot:
https://chrm.info/tmp/we_portal_egolf.png

The picture is an embedded svg graphics (CSS class "ct-chart-donut") which visua

[2020-05-07 09:28] IPSCoyote commented on #35
I'm not on the latest build on this and use the photon script to get the data for further processing in a smartphone system. The JSON Data does contain the SoC in the "eManager" part.

[2020-05-07 09:29] chrm-software commented on #35
Oh, sorry! Of course, its already there in emanager...
My fault. Please, close this.

[2020-05-07 09:29] #35 closed, assigned to nobody

[2020-09-29 12:21] andig opened #37 "WeConnect ID support?"
Recent VW ID cars like ID.3 do no longer see to appear in the „old“ carnet portal (or do so by chance). Further, the new WeConnect ID app provides more precise battery soc values than the old portal which had only 10% steps.

Would appreciate any feedback on details of the login/api flow for the newer weconnect id app.

[2021-04-27 19:04] thomaskien opened #38 "Changes to Portal"
Hi!
Are there any news about the changes of today "Das We Connect Portal verabschiedet sich am 27.04.2021", it looks like that broke all my scripts using this great project here - is there a way to revive it?
Regards,
Thomas

[2021-04-27 19:06] #38 closed, assigned to nobody

[2021-04-28 07:16] IPSCoyote commented on #38
Same here :(

[2021-04-28 10:35] reneboer commented on #37
Hi,
I do not have a VW car anymore, so I cannot maintain these scripts anymore. Sorry.

[2021-04-28 10:35] #37 closed, assigned to nobody

[2021-04-28 10:45] JimKnopf1503 commented on #38
This way is over. Actual the only way would by to emulate the original VW App WeConnect or WeConnectID and use these protocols. They are much harder to analyse and backengeneer.

[2021-04-28 10:47] IPSCoyote commented on #38
There's only one useful way: Send Mails to VW and request an official API like e.g. BMW ConnectDrive has.
"Hacking" Portals is not the way IoT should be done in 2021....

[2021-04-28 10:51] JimKnopf1503 commented on #38
You are absolutly right! I have already wrote a Email this morning directly to **herbert.diess@volkswagen.de**, requesting support to get an API.

[2021-04-28 11:48] BerndGewehr commented on #38
Try the we connect adapter from iobroker instead. That one still works today on a Skoda and a VW of mine.

[2021-04-28 17:07] thomaskien commented on #38
@bgewehr does writing values like charging current/climatisation work for you with that or just reading?
for read only I now use evcc as workaround:
`
./evcc vehicle -l trace | grep '{"charger":{"settings":{"maxChargeCurrent":{"conten' > /root/solar/vehicle.json
`
that outputs a json with the most important information like SOC, Current, Cable-Status etc. at least...

[2021-04-28 17:20] bgewehr commented on #38
Sorry, since I own a combustion engine model, I can‘t tell. What I can tell is that flash and horn switch etc. can be bound to a mqtt service for reading and writing. Would be glad to hear what you achieved… pls Share.